.bg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* 요소 크기 계산에 패딩과 보더를 포함 */
}

.flex-col {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 20px;
}

.input-flex-row,
.input-flex-col {
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.input-flex-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
}

.input-flex-col {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
}

.header-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body-flex {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.side-flex {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu-flex {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box-header-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.profile-name-flex {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.social-box-flex,
.social-flex {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.social-box-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.social-flex {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: center;
}

.tag-flex {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.follower-box-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.guestbook-flex {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.guestbook {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    width: 100%;
    height: auto;
    margin: 5px 0 2px 0;
    box-sizing: border-box;
    padding: 20px;
    background-color: var(--gray600);
    border-radius: var(--round300);
}

.guestbook-header-flex {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    width: 100%;
}

.guestbook-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    width: 100%;
    height: auto;
    padding: 12px 15px; /* 패딩 추가 */
    background-color: rgba(249, 249, 249, 0.8); /* 80% 투명도 */
    backdrop-filter: blur(10px);
    border-radius: var(--round200);
    overflow-wrap: break-word; /* 텍스트가 넘치지 않도록 단어 단위로 줄 바꿈 */
    box-sizing: border-box;
}

.guestbook-content::-webkit-scrollbar {
    display: none;
}

.post-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;

    width: 100%;
    margin-top: 10px;
    padding: 20px 20px 25px 20px;
    box-sizing: border-box;
    background-color: var(--gray50);
    border-radius: var(--round400);

    .post-content {
        display: flex;
        flex-direction: row;
        align-content: space-between;
        justify-content: flex-start;

        .post-header-container {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;

            .post-user-info {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: flex-end;
            }
        }

        .post-menu-container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-content: center;
        }
    }

    .post-comment-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;

        .post-tag-container {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: flex-start;
            flex-wrap: nowrap;

            .post-tag-flex {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                width: auto;
            }
        }
    }
}