.img-xs {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: var(--gray400);
}

.logo-xs {
    width: 28px;
    height: 28px;
    border-radius: 2px;
    background-color: var(--gray400);
}

.profile {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: var(--gray500);
    border: 3px solid var(--gray50);
    position: absolute;
    top: 60px; /* 배너와 겹치도록 top 위치 조정 */
    left: 70px; /* 왼쪽에서의 거리 조정 */
    z-index: 10; /* 프로필 이미지가 위에 보이도록 z-index 설정 */
    cursor: pointer;
}


.follower {
    width: 60px;
    height: 60px;
    border-radius: var(--round300);
    margin:9px 9px 0 0;
    background-color: var(--gray600);
    cursor: pointer;
}

/* 줄의 마지막 요소에 대해 margin-right 제거 */
.follower-box-flex .follower:last-child {
    margin-right: 0;
}

/*!* 줄의 마지막 요소에 대해 margin-right 제거 *!*/
.follower-box-flex .follower:nth-child(5n) {
    margin-right: 0;
}

.guestbook-image {
    width: 40px;
    height: 40px;
    border: 2px solid var(--gray50);
    border-radius: 50%;
}

.guestbook-name {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
}

.guestbook-content {
    margin-top: 10px;
    border-radius: var(--round200);
    width: 100%;
    background-color: rgba(249, 249, 249, 0.7);
    backdrop-filter: blur(10px);
    color: var(--gray700);
}

.post-profile {
    width: 60px;
    height: 60px;
    background-color: var(--gray600);
    border-radius: var(--round300);
}

.tag-image {
    width: 15px;
    height: 15px;
    margin-right: 5px;
    background-color: #6D6D6D;
    border-radius: var(--round100);
}

.feed-img {
    width:100%;
    height: 500px;
    background-color: gray;
    margin-bottom: 8px;
}

.feed-post-profile-image {
    background-color: gray;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin-right: 8px;
}
